# SPDX-License-Identifier: PMPL-1.0-or-later
name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
permissions: read-all
jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ludeeus/action-shellcheck@00cae500b08a931fb5698e11e79bfbd38e612a38 # v2.0.0
        with:
          scandir: './bin'
          additional_files: 'lib/utils.bash'
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: asdf-vm/actions/setup@05e0d2ed97b598bfce82fd30daf324ae0c4570e6 # v3.0.2
      - run: asdf plugin add sops . && asdf install sops latest && sops --version
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
